* {
  /* border: 1px solid #ddd; */
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0; 
  background-color: #010007;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

#results {
  margin-top: 20px;
  padding: 10px;
  /* background-color: #fff; */
  /* border: 1px solid #ddd; */
}

.autocomplete-wrapper {
  position: relative;
  width: 100%; /* Adjust this value as needed, or use max-width */
  max-width: 500px; /* Example to prevent it from stretching too wide */
}

#unitName {
  width: 100%; /* This makes the input field take the full width of its container */
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 100;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Ensure background contrast */
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

#unitName {
  width: 100%; /* Ensures the input takes the full width of the wrapper */
}

@media (max-width: 768px) {
  .autocomplete-wrapper {
    width: 90%; /* Allows more margin on smaller screens */
    max-width: 400px; /* Adjusts for smaller devices */
  }
}
