@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway > {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 20px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0), #010007, #010007, rgba(0, 0, 0, 0) 100%),
    url('https://cdn.glitch.global/c482ca3f-5f21-4ad8-b3a2-4674f54d04f7/pengu.png?v=1715377921432'); */
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #010007 40%, #010007 60%, rgba(0, 0, 0, 0) 100%),
    url('../public/images/Powder-Arcane-TFT.png');
  /* background: linear-gradient(rgba(1, 0, 7, 0.6), rgba(1, 0, 7, 0.6)),
    url('https://edge.rivalrycdn.com/cdn-cgi/image/q=100/https://images.prismic.io/rivalryglhf/ZofEqB5LeNNTw0LO_Yuumi.jpg?auto=format,compress'); */

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #fffbe6;
  min-height: 100vh; /* 100% of the viewport height */
  padding-bottom: 50px; /* Add extra space at the bottom */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemImg {
  width: 100px;
}

#itemImgContainer {
  margin: 20px 0px;
}

input,
button {
  margin: 10px 5px;
  /* padding: 10px; */
  font-size: 16px;
}

input {
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

input[type='text']:focus {
  outline: none; /* Removes the default focus highlight */
}

button {
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

button:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

button:active {
  text-shadow: none;
  box-shadow: none;
  color: #cdbe9130;
}

.logo {
  height: 200px;
  width: 200px;
  background: url('https://cdn.glitch.global/c482ca3f-5f21-4ad8-b3a2-4674f54d04f7/bisdle.png?v=1715377934811');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .logo {
    height: 200px;
    width: 200px;
  }
  input,
  button {
    font-size: 14px;
  }
  .itemImg {
    width: 70px;
  }
}

#autocomplete-list {
  position: absolute;
  background-color: white;
  /* border: 1px solid #ccc; */
  border-top: none;
  max-height: 200px; /* Set a max-height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 100%; /* Ensure it matches the input width */
  z-index: 1000; /* Make sure it sits on top of other content */
  overflow-x: hidden;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Styling the scrollbar for Chrome, Safari, and Opera */
#autocomplete-list::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

#autocomplete-list::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

#autocomplete-list::-webkit-scrollbar-thumb {
  background-color: #cdbe91; /* Custom scrollbar handle color */
  border-radius: 4px; /* Roundness of the scrollbar handle */
}

#autocomplete-list::-webkit-scrollbar-thumb:hover {
  background: #b0a783; /* Darker color on hover */
}

#autocomplete-list::-webkit-scrollbar-button {
  display: none; /* Remove buttons */
}

/* Styling the scrollbar for Firefox */
#autocomplete-list {
  scrollbar-width: thin;
  scrollbar-color: #cdbe91 transparent; /* Scrollbar handle and transparent track */
  background: #1e2328;
  border: #cdbe91 solid 1px;
}

#autocomplete-list .Champion {
  padding: 10px;
  cursor: pointer;
  /* white-space: nowrap; */
}

#autocomplete-list .Champion:hover {
  background-color: #f0f0f0;
}

#guessContainer {
  position: relative;
}

.Champion {
  /* margin-top: 5px; */
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 5px 15px;
  background: #1e2328;
  color: #cdbe91;
  box-shadow: inset 0 0 2px #000000;
  border: solid;
  border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29);
  border-image-slice: 1;
  border-width: 2px;
}

.Champion:hover {
  text-shadow: 0 0 5px #ffffff80;
  box-shadow: 0 0 8px 0 #ffffff50;
  background: linear-gradient(to bottom, #1e2328, #433d2b);
  cursor: pointer;
  transition: 0.1s;
}

li {
  float: left;
  margin-top: 5px;
}

h2 {
  position: relative;
  width: 50%;
}

#feedback {
  text-align: center;
}
